button {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer
}

.form-group {
    position: relative;
    transition-duration: .3s
}

.popup {
    position: absolute;
    top: calc(100% + 0.3rem);
    left: 0;
    width: calc(100% - 0.5rem);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0.4rem 1rem;
}

@media (max-width: 992px) {
    form {
        margin-top: 1rem !important;
    }

    .navbar-toggler {
        margin-top: -0.2rem;
    }
}

@media (max-width: 576px) {
    form {
        flex-direction: column
    }

    .form-group {
        margin-bottom: 0.75rem;
        width: 75%;
    }

    .btn {
        display: block;
        width: 75%;
        margin-left: 0 !important;
    }

    .popup {
        position: static;
        width: 100%;
        padding: 0.4rem 1rem;
        margin-top: 0.25rem;
    }
}

@media (max-width: 480px) {
    .form-group, .btn {
        width: 100%;
    }
}